flask==3.0.3
flask-sqlalchemy==3.1.1

## iris community package
# sqlalchemy-iris
sqlalchemy_iris>=0.20.0
# iop - interoperability on python
iris-pex-embedded-python==4.0.0b14

## for testing
pytest==8.3.2
